---
import Link from "@/components/primitives/Link.astro";
import Button from "../primitives/Button.astro";
---

<div class="title-container rounded-lg flex items-center justify-between">
    <h2  class="font-display font-thin text-2xl rounded-lg py-1">Proyectos</h2>
    <Link  href={"/projects"} style={"primary"} class="">
        <Button
            text="ver todos los proyectos"
            size="sm"
            style="button"
            iconSize={16}
            icon="icon-arrow-up-right"
        />
    </Link>
</div>
