---
const { class: className, border } = Astro.props as {
    class: string;
    border: "border" | "noBorder";
};

const borderType = {
    border: "bg-background border-[1px] border-foreground/20",
    noBorder: "bg-transparent border-none"
};

const borderClass = borderType[border] || borderType.border;
---

<div class={`container  rounded-lg p-4 ${borderClass} ${className}`}>
    <slot />
</div>
