---
const { class: className, border } = Astro.props;
---


<div class={`container ${border ? 'bg-background' : 'bg-transparent border-none'} ${border ? 'border-[1px] border-foreground/20' : ''} rounded-lg p-4 ${className}`}>
    <slot/>
</div>
