@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.dark {
    /* Estilos para modo oscuro */
    --color-background: #000;
    --color-foreground: #fff;
}

@theme {
    --font-sans: "Inter Tight Variable", sans-serif;
    --font-display: "Montserrat Variable", sans-serif;
    --font-mono: "Space Mono", monospace;

    --color-background: #fff;
    --color-foreground: #000;

    --color-pomp-and-power: hsla(274, 21%, 46%, 1);
    --color-pale-dogwood: hsla(358, 39%, 85%, 1);
    --color-eggplant: hsla(323, 20%, 40%, 1);
    --color-desert-sand: hsla(27, 57%, 76%, 1);
    --color-caput-mortuum: hsla(358, 28%, 26%, 1);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

.heading-wrapper {
    display: flex;
    align-items: baseline;
    gap: 6px;
}
@media (min-width: 50em) {
    .heading-wrapper {
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-inline-start: calc(-1 * 25px);
    }
    .heading-wrapper .anchor-link {
        visibility: hidden;
    }
    .heading-wrapper:hover .anchor-link {
        visibility: visible;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
    border: none;
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.dark {
    ::-webkit-scrollbar-track {
        border: none;
        background-color: rgb(12 10 9);
    }
    ::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(12 10 9);
    }
    ::-webkit-scrollbar-thumb {
        background-color: white;
    }
}

/* Reemplazo de @apply con CSS plain Modal menu */
#toggleMenu.open span:first-child {
    transform: rotate(-45deg);
}
#toggleMenu.open span:nth-child(2) {
    opacity: 0;
}
#toggleMenu.open span:last-child {
    transform: rotate(45deg);
}
