@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.dark {
    /* Estilos para modo oscuro */
    --color-background: #000;
    --color-foreground: #fff;
}

@theme {
    --font-sans: "Inter Tight Variable", sans-serif;
    --font-display: "Montserrat Variable", sans-serif;
    --font-mono: "Space Mono", monospace;

    --color-background: #fff;
    --color-foreground: #000;

    --color-pomp-and-power: hsla(274, 21%, 46%, 1);
    --color-pale-dogwood: hsla(358, 39%, 85%, 1);
    --color-eggplant: hsla(323, 20%, 40%, 1);
    --color-desert-sand: hsla(27, 57%, 76%, 1);
    --color-caput-mortuum: hsla(358, 28%, 26%, 1);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

.heading-wrapper {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

@media (min-width: 50em) {
    .heading-wrapper {
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-inline-start: calc(-1 * 25px);
    }
    .heading-wrapper .anchor-link {
        visibility: hidden;
    }
    .heading-wrapper:hover .anchor-link {
        visibility: visible;
    }
}

/*
**
**
Mobile menu
animation and trasnsition
**
*/

#toggleMenu span {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#toggleMenu.open span:first-child {
    transform: rotate(-45deg);
    transform-origin: right;
}

#toggleMenu.open span:nth-child(2) {
    opacity: 0;
}

#toggleMenu.open span:last-child {
    transform: rotate(45deg);
    transform-origin: right;
}

/* Transición suave para el modal */
#mobileModal {
    transition: opacity 0.5s ease;
}

/**
 * ----------------------------------------
 * animation background hero
 * ----------------------------------------
 */
@keyframes slide {
    0% {
        left: calc(50% - 70rem);
        transform: rotate(0deg);
        scale: 1;
    }
    50% {
        left: calc(50% - 30rem);
        transform: rotate(-180deg);
        scale: 1.5;
    }
    100% {
        left: calc(50% - 70rem);
        transform: rotate(0deg);
        scale: 1;
    }
}

.animate-slide {
    animation: slide 30s infinite;
}

/**
 * ----------------------------------------
 * animation blink-2
 * ----------------------------------------
 */
@-webkit-keyframes blink-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blink-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

/* Estilos para view transitions */
::view-transition-old(project-image-*),
::view-transition-new(project-image-*) {
  border-radius: 1rem; /* 16px, equivale a rounded-2xl */
  overflow: hidden;
}

::view-transition-image-pair(project-image-*) {
  isolation: auto;
}
