---
import Button from "../primitives/Button.astro";
import Link from "../primitives/Link.astro";
---

<h2 class="text-2xl font-display mb-6 text-foreground">
    ¿Tienes un proyecto en mente?
</h2>
<p
    class="text-lg font-sans text-foreground/80 text-center max-w-2xl mx-auto mb-8"
>
    Estoy disponible para nuevos proyectos. Contáctame y conversemos sobre cómo
    puedo ayudarte a llevar tu idea al siguiente nivel.
</p>
<Link href="/contact">
    <Button
        text="Contactar"
        icon="icon-message-circle"
        style="primary"
        size="lg"
    />
</Link>
