---
import Button from "../primitives/Button.astro";
import Link from "../primitives/Link.astro";
---

<div class="flex flex-col justify-center items-center gap-6">
    <h2 class="text-xl text-center font-thin font-display text-foreground">
        ¿Tienes un proyecto en mente?
    </h2>
    <p
        class="text mx-7 text-center font-sans text-foreground/80 max-w-2xl "
    >
        Estoy disponible para nuevos proyectos. Contáctame y conversemos sobre
        cómo puedo ayudarte a llevar tu idea al siguiente nivel.
    </p>
    <Link href="/contact">
        <Button
            text="Contactar"
            icon="icon-message-circle"
            style="button"
            size="sm"
        />
    </Link>
</div>
