---


import SectionContainer from "./projects/SectionContainer.astro";
import SectionTitle from "./ui/SectionTitle.astro";
import Divisor from "./ui/Divisor.astro";
import Form from "@/components/ui/Form.astro";
import ContactInfo from "./contact/ContactInfo.astro";
---

<article class="contact-section h-max mx-4 pt-24">
    <SectionContainer>
        <SectionTitle title="Contacto" showLink={false} />
        <Divisor space="xs" />
        <div class="flex items-center justify-center gap-16 mx-32 my-6">
            <Form/>
            <ContactInfo/>
        </div>
    </SectionContainer>
</article>

<script>
    // function getFormData() {
    //     document.querySelector("form")
    //     .addEventListener("submit", (e) => {
    //         e.preventDefault();
    //         const form = e.target as HTMLFormElement;
    //         const data = Object.fromEntries(new FormData(form));
    //         alert(JSON.stringify(data, null, 2))
    //     })
    // }

    // document.addEventListener("astro:page-load", () => {
    //     getFormData();
    // });
</script>
