---
import CardHabilities from "./habilities/cardHabilities.astro";

const mainText =
    "Especializado en aplicaciones escalables rendimiento web y código limpio.";
const mainText2 =
    "Optimización para motores de búsqueda desde el código, mejorando la visibilidad orgánica de tu web.";
const content = [
    {
        icon: "icon-command",
        description:
            "Implementación de interfaces modernas y responsivas con las mejores prácticas del desarrollo web."
    },
    {
        icon: "icon-scan-search",
        description:
            "Optimización para motores de búsqueda desde el código, mejorando la visibilidad orgánica de tu web."
    },
    {
        icon: "icon-drafting-compass",
        description:
            "Interfaces centradas en el usuario con diseños innovadores que destacan en el mercado."
    },
    {
        icon: "icon-zap",
        description:
            "Sitios web de carga rápida y experiencia fluida, optimizados para dispositivos móviles."
    },
    {
        icon: "icon-boxes",
        description:
            "Arquitecturas modernas para sitios web rápidos, seguros y escalables."
    },
    {
        icon: "icon-cable",
        description:
            "Integración efectiva entre frontend y APIs, con gestión optimizada de estados."
    }
];
---

<article class="habilities-component h-max md:h-screen mx-4 pt-32">
    <h2
        class="text-left text-foreground text-3xl font-sans font-semibold lg:max-w-[64%] md:text-4xl md:leading-[2.5rem]"
    >
        {mainText}
        <span class="text-neutral-400">{mainText2}</span>
    </h2>
    <section class="cardContainer md:grid md:grid-cols-3 md:grid-rows-3 md:gap-24">
        {
            content.map((item) => <CardHabilities content={item} />)
        }
    </section>
</article>
