---
import { Image } from "astro:assets";
// import Cobe from "@components/cobe.astro";
// import Link from "@components/ui/link.astro";
import abstractDottedGlobeIllustration from "@/assets/abstract-dotted-globe-illustration.png";
import Navbar from "./navigation/Navbar.astro";
// import { t } from "i18next";

const { dynamic = false } = Astro.props;
// import videoFrame from
---

<div
class="relative isolate h-dvh dark:bg-stone-950 overflow-hidden lg:overflow-visible md:mt-0 md:justify-center md:flex md:flex-col md:gap-12 md:h-screen md:w-full"
>
    <Navbar />
    <section
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    >
        <svg
            class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem] animate-slide"
            viewBox="0 0 1155 678"
        >
            <path
                fill="url(#9b2541ea-d39d-499b-bd42-aeea3e93f5ff)"
                fill-opacity=".3"
                d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
            >
            </path>
            <defs>
                <linearGradient
                    id="9b2541ea-d39d-499b-bd42-aeea3e93f5ff"
                    x1="1155.49"
                    x2="-78.208"
                    y1=".177"
                    y2="474.645"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="#9089FC"></stop>
                    <stop offset="1" stop-color="#FFD580"></stop>
                </linearGradient>
            </defs>
        </svg>
    </section>
    <main
        class="mt-24 flex flex-col justify-between items-center gap-4 px-4 md:flex-row md:gap-0 2xl:mt-24 "
    >
        <section
            class="text flex-2 flex flex-col gap-1 items-start justify-center"
        >
            <h3
                class="inline-block font-mono font-medium text-xs w-max px-2 py-1 bg-white/5 backdrop-blur-md border border-foreground/10 rounded-full animate-fade-in"
            >
                Desarrollador Frontend Freelance
            </h3>
            <h1 class="text-4xl md:text-7xl font-sans leading-tight my-3">
                <span class="inline">Transformamos</span>
                <span class="font-bold p-1 rounded"> Ideas </span>
                <span> en </span>
                <span class="font-bold p-1 rounded"> Experiencias </span>
                <span> digitales con impacto. </span>
            </h1>
            <h2
                class="flex flex-col text-xl font-semibold mb-3 [&>span]:inline-block mt-6"
            >
                <span>+ Desarrollo frontend avanzado </span>
                <span>+ SEO optimizado </span>
                <span>+ Diseños innovadores </span>
                <span
                    class="text-neutral-400 text-xs inline-block font-medium font-mono"
                >
                    Contactenos para obtener una consulta gratuita.
                </span>
            </h2>
            <button
                class="flex gap-1 px-6 py-2.5 mt-4 text-xl font-semibold bg-foreground text-background rounded-xl items-center justify-center"
                >Contactanos
                <span class="w-6 h-6"
                    ><svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right"
                        ><path d="M7 7h10v10"></path><path d="M7 17 17 7"
                        ></path></svg
                    ></span
                >
            </button>
        </section>
        <section class="overflow-hidden flex-1 w-full mx-auto -bottom-[0px]">
            <div
                class="from-blue-500 to-blue-200 h-80 w-80 aspect-ratio rounded-full mx-auto"
            >
                <img
                    src="https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="bg-image"
                    class="w-full h-full bg-cover rounded-full"
                />
            </div>
        </section>
        <section
            class="overflow-hidden opacity-20 blur-2xl flex-1 w-full mx-auto absolute -bottom-[0px]"
        >
            <div
                class="bg-gradient-to-bl from-blue-500 to-blue-200 h-[500px] w-[500px] aspect-ratio rounded-full mx-auto"
            >
                <img
                    src="https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="bg-image"
                    class="w-full h-full bg-cover rounded-full opacity-90"
                />
            </div>
        </section>
    </main>
    <section
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    >
        <svg
            class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem] animate-slide"
            viewBox="0 0 1155 678"
        >
            <path
                fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
                fill-opacity=".3"
                d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
            >
            </path>
            <defs>
                <linearGradient
                    id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
                    x1="1155.49"
                    x2="-78.208"
                    y1=".177"
                    y2="474.645"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="#9089FC">
                        <animate
                            attributeName="stop-color"
                            values="#9089FC; #FF80B5; #9089FC"
                            dur="5s"
                            repeatCount="indefinite"></animate>
                    </stop>
                    <stop offset="1" stop-color="#ffb6c1">
                        <animate
                            attributeName="stop-color"
                            values="#ffb6c1; #9089FC; #ffb6c1"
                            dur="5s"
                            repeatCount="indefinite"></animate>
                    </stop>
                </linearGradient>
            </defs>
        </svg>
    </section>
    <div>
        <span class="w-full justify-center items-center animate-bounce hidden md:flex">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-mouse"
                ><rect x="5" y="2" width="14" height="20" rx="7"></rect><path
                    d="M12 6v4"></path></svg
            >
        </span>
    </div>
</div>

<style>
    @keyframes slide {
        0% {
            left: calc(50% - 70rem);
            transform: rotate(0deg);
        }
        50% {
            left: calc(50% - 30rem);
            transform: rotate(-180deg);
        }
        100% {
            left: calc(50% - 70rem);
            transform: rotate(0deg);
        }
    }

    .animate-slide {
        animation: slide 25s infinite;
    }
</style>
