---
import { type Project, projects } from "@/assets/mocks/projects";
import ProjectCard from "@/components/projects/ProjectCard.astro";
import SectionContainer from "./projects/SectionContainer.astro";
import Divisor from "./ui/Divisor.astro";
import SectionTitle from "./ui/SectionTitle.astro";
---

<article class="habilities-component h-max mx-4 pt-24">
    <SectionContainer>
        <SectionTitle />
        <Divisor space="sm"/>
        <div
            class="project-container flex flex-col items-center md:flex-row md:justify-between"
        >
            {
                projects
                    .slice(0, 2)
                    .map((_: Project) => (
                        <ProjectCard
                            id={_.id}
                            title={_.title}
                            description={_.description}
                            image={_.image}
                        />
                    ))
            }
        </div>
    </SectionContainer>
</article>
