---
import ProjectsTitle from "@/components/projects/ProjectsTitle.astro";
import Button from "@/components/primitives/Button.astro";
import { type Project, projects } from "@/assets/mocks/projects";
import Link from "./primitives/Link.astro";
import ProjectCard from "@/components/projects/ProjectCard.astro";
import ProjectContainer from "./projects/ProjectContainer.astro";
import Divisor from "./ui/Divisor.astro";
---

<article class="habilities-component h-max mx-4 pt-24">
    <ProjectContainer>
        <ProjectsTitle />
        <Divisor space="sm"/>
        <div
            class="project-container grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-12"
        >
            {
                projects
                    .slice(0, 2)
                    .map((_: Project) => (
                        <ProjectCard
                            id={_.id}
                            title={_.title}
                            description={_.description}
                            image={_.image}
                        />
                    ))
            }
        </div>
    </ProjectContainer>
</article>
