---
import "../styles/global.css";
import "@fontsource-variable/inter-tight";
import "@fontsource-variable/montserrat";
import "@fontsource/space-mono/400.css";
import "@fontsource/space-mono/700.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
        <script is:inline>
            function handleThemeChange() {
                document.documentElement.classList.toggle(
                    "dark",
                    localStorage.theme === "dark" ||
                        (!("theme" in localStorage) &&
                            window.matchMedia("(prefers-color-scheme: dark)")
                                .matches)
                );
            }
            handleThemeChange();
            document.removeEventListener("astro:after-swap", handleThemeChange);
            document.addEventListener("astro:after-swap", handleThemeChange);

            // Detect system theme changes
            window
                .matchMedia("(prefers-color-scheme: dark)")
                .addEventListener("change", (e) => {
                    localStorage.theme = e.matches ? "dark" : "light";
                    handleThemeChange();
                });
        </script>
    </head>
    <body class="dark:bg-stone-950">
        <div class="theme-selector">
            <label for="theme">Theme:</label>
            <select id="theme" onchange="changeTheme(this.value)">
                <option value="system">System</option>
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
        </div>
        <script is:inline>
            function changeTheme(theme) {
                if (theme === "system") {
                    localStorage.removeItem("theme");
                } else {
                    localStorage.theme = theme;
                }
                handleThemeChange();
            }

            // Set the select value based on the current theme
            document.getElementById("theme").value =
                localStorage.theme || "system";
        </script>
        <slot />
        <style is:global>
            /* Improve Page speed */
            /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
            img {
                content-visibility: auto;
            }
        </style>
    </body>
</html>
