---
export interface Props {
    content: {
        icon: string;
        description: string;
    };
}

const { content } = Astro.props;
import { Icon } from "astro-icon/components";
---

<article class="habilities-card mt-24">
    <Icon name={`${content.icon}`} class="w-12 h-12" />
    <h2 class="text-xl lg:text-2xl mt-6">
        {content.description}
    </h2>
</article>
