---
import { Icon } from "astro-icon/components";
---

<div class="mouse bounce icon">
    <span
        class="w-full justify-center items-center animate-bounce hidden md:flex"
    >
        <Icon name="icon-mouse" size={36} />
    </span>
</div>
